extends base


mixin elm(sym,atN,group,i)
  div(class=`elm elm--${group}`)
    span(class=`${atN >= 100 ? 'elm__atn--s' : ""} elm__atN`)= atN
    span.elm__sym= sym

mixin nav(i,n,c)
  a(class=`btn btn--ba nav__item ${c}` id=`${n === 'key' ? n : ""}`)
    svg.nav__item-icon
      use(xlink:href=`/img/sprites.svg#icon-${i}`)
    p.btn__text=n
    

block content 
  body.per-container
  - const handleName = (name) =>name.split(" ").map((el, i) => (i !== 0 ? el[0].toUpperCase() + el.slice(1) : el)).join("");
  - const t = [ "nonmetal","alkaliMetal","alkalineEarthMetal","metal","actinoid","metalloid","lanthanoid","transitionMetal","nobleGas","postTransitionMetal","halogen" ]
    
    nav.nav
      .key 
        each el in t 
          .key__description 
            div(class=`elm--${el}`).key__color 
            .key__text=handleName(el)
      .logo-box 
        img(src="/img/logo.png" alt="logo" class="logo") 
        .logo-text Periodic-mn
      form.fform
        .fform__group 
          input(type="text" placeholder="element").fform__input#search 
          svg.fform__icon
            use(xlink:href='/img/sprites.svg#icon-search') 
      .btn.btn--ba.nav__item.nav__item-c 
        svg.nav__item-icon
          use(xlink:href='/img/sprites.svg#icon-cog')
        p.btn__text Settings
        .nav__item-menu 
          ul.nav__item-ul
            a.nav__item-button#custom customize units 
            a.nav__item-toggle-cont 
              p.nav__item-toggle-text night mode
              .toggler
                .toggler__line
      +nav("key", "key", "nav__item--1")
      a(class="btn btn--ba nav__item" href="/compare") Launch compare

                 
    h1.h1.h1--p Periodic Table Of The Elements
    .container
      each elmGroup,i in elements
        div(class=`row row--${i+1}`)
            each elm in elmGroup 
              +elm(elm.symbol,elm.atomicNumber,handleName(elm.groupBlock) ,i+1)
    .footer 
      .logo-box.logo-box--foot 
         img(src="/img/logo.png" alt="logo" class="logo") 
         .logo-text Periodic-mn
      nav.footer__nav
        ul.footer__list 
          a.footer__link company 
          a.footer__link contact us
          a.footer__link careers
          a.footer__link privacy policy
          a.footer__link terms
      <p class="footer__text">2021 &copy; developed by <span>Marara Edosa</span> & <span>Naol Abdisa</span></p>
    .popup
      .popup__content
        svg.popup__close
          use(xlink:href='/img/sprites.svg#icon-cross')
    script( src="/js/bundle.js")
    

            
